<div class="about row-container">
    <div class="about-me">
        <h4>Hi there, I'm Danny</h4>
        <p>For more than 6 years now, front-end development has been the central focus of my career. On this fast and challenging journey, I have worked in various tech ranging from vanilla JS to Angular 9.</p>
        <p>At this current moment, my career journey has brought me to CITI, where I am working as a Lead Front-end Engineer. In this role, I lead the front-end development of the Payments & Resolve web application used by 33+ Retail partners of Citi.</p>
        <p>With the constant goal of delivering high standard web & mobile applications, I have worked on multiple modules, while maintaining a high standard for code quality. I have consistently made sure that all the web pages I develop is ARIA accessible.</p>
    </div>
    <div class="about-me-cover">
        <code>
            while(true) <br>
                console.log('I love JavaScript!!!');
        </code>
    </div>
</div>