<div class="contact column-container">
    <h5>Let's Connect!</h5>

    <ul>
        <li>
            <span>
                <img src="../../assets/linkedin.png" alt="Linked In Icon">
            </span>
            <a href="https://www.linkedin.com/in/dhandapanisv/" target="_blank" title="Linked In URL" aria-label="Go To Danny's Linked IN profile">Connect in LinkedIn</a>
        </li>
        <li>
            <span>
                <img src="../../assets/twitter.png" alt="Twitter Icon">
            </span>
            <a href="https://twitter.com/dhandu92" target="_blank" title="Danny's Twitter" aria-label="Check out Danny's Twitter profile">Connect on Twitter!</a>
        </li>
    </ul>
</div>