<div class="work column-container">
    <div class="work-header">
        <h5>Personal Projects:</h5>
        <a href="https://github.com/dannyd30" target="_blank" title="Go to Danny's Github">View my GITHUB >></a>
    </div>
    <div class="work-details">
    <div class="work-block">
       <div class="work-desc">
           <h5>Tic Tac Toe</h5>
           <p>
               Simple & Minimalistic Tic Tac Toe (X-O) game developed using Vanilla JS and Socket IO, hosted on a Node server
           </p>
           <a href="https://danny-tictactoe.herokuapp.com/" target="_blank" title="Play the Tic Tac Toe Game">Play the Game!</a>
           <a href="https://github.com/dannyd30/tic-tac-game" target="_blank" title="Go to Github repo of the Game">Check out the code!</a>
       </div>
       <div class="work-detail">
           <div class="img-container">
               <img src="../../assets/js.jpg" alt="Tic Tac Toe Game">
           </div>
       </div>
    </div>
    <div class="work-block">
        <div class="work-desc">
            <h5>Tic Tac Toe</h5>
            <p>
                Simple & Minimalistic Tic Tac Toe (X-O) game developed using Vanilla JS and Socket IO, hosted on a Node server
            </p>
            <a href="https://danny-tictactoe.herokuapp.com/" target="_blank" title="Play the Tic Tac Toe Game">Play the Game!</a>
            <a href="https://github.com/dannyd30/tic-tac-game" target="_blank" title="Go to Github repo of the Game">Check out the code!</a>
        </div>
        <div class="work-detail">
            <div class="img-container">
                <img src="../../assets/js.jpg" alt="Tic Tac Toe Game">
            </div>
        </div>
     </div>
    </div>
</div>