<div class="interests column-container">
    <h5>Listed Below are some of the things/tech which interest me:</h5>

    <dl>
        <dt>
            Javascript
        </dt>
        <dd>
            My love for JS started at the beginning of my career. JS with all its nuances intrigued me from the very beginning, and it will keep me interested till the very end.
        </dd>
        <dt>Angular</dt>
        <dd>
            Started using Angular very early in my career and it has been my go to Framework ever since. Started with Angular 1.x and currently working on Angular 7 in Citi. This portfolio is built with Angular 9.
        </dd>
        <dt>Node</dt>
        <dd>Am still trying to make the big leap to become a Full stack developer. I believe, because of my love for JS, Node will help to make the leap easier</dd>
    </dl>
</div>