<div class="career column-container">
    <section class="career-header">
        <h5>Work Experience</h5>
        <a href="https://www.linkedin.com/in/dhandapanisv/">View more on LinkedIn >></a>
    </section>
    <section class="career-details">
        <dl>
            <dt>Digital SW Engineer Analyst 2 </dt>
            <dd>Citi Corp. Services. Chennai, India</dd>
        </dl>
        <dl>
            <dt>Engineer Development II</dt>
            <dd>Walmart Labs. Bangalore, India</dd>
        </dl>
        <dl>
            <dt>Programmar Analyst</dt>
            <dd>Cognizant Technology Solutions. Chennai, India.</dd>
        </dl>
    </section>
</div>